@font-face{
	font-family: SaginawMedium;
	src: url(../fonts/SaginawMedium.ttf);
}
@font-face{
	font-family: Regular;
	src: url(../fonts/MyriadPro-Regular.otf);
}
@font-face{
	font-family:mid;
    src: url('../fonts/MyriadProLight.eot');
    src: url('../fonts/MyriadProLight.woff') format('woff'),
         url('../fonts/MyriadProLight.ttf') format('truetype'),
         url('../fonts/MyriadProLight.svg#MyriadProLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

ul
{
    list-style-type: none;
}
ul li a 
{
    color:white;
    font-family:'Adobe Caslon Pro';
    font-weight:bold;
}
   .navbar-brand:hover{
        color:silver;  }
#qw {
    padding-top:5px;
}
.form-group
{
	font-family:mid;
}
.logo i {
	font-size: 50px;
	margin-right: 4px;
	word-spacing: 25px;
}
.logo{
	color: white;
	margin: 0;
	font-size: 40px;
	padding: 4px 0;
	padding-bottom: 15px;
	font-family: SaginawMedium;
}

.sign{font-size:30px;
		padding-top:48px;
		font-family:mid;
		
	}


.form-group{padding-top:10px;}


.signup
{
	font-family:mid;
font-size:20px;
}
.login-bottom-text{
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 12px;
	color: white;
	line-height: 19px;
}
.side
{
	font-size:25px;
	word-spacing:10px;
	line-height:30px;
	margin-top:170px
}

header{
	background-image:url(../Image/6.jpg);
	
	padding-top: 20px;
	margin-left:5px;
	margin-right:5px;
	margin-top:0px;
	border-radius:5px 50px 5px 50px;
}
header .form-group{
	margin-bottom: 0px;
	margin-top: 15px;
}
header .btn-header-login{
	margin-bottom: 15px;	
}
.login-main{
	margin-top: 130px;
}
.multibox{
	padding-left: 0px;
	padding-bottom: 10px;
}
.login-main span{
	font-size: 12px;
} 



footer hr{
	margin-top: 0px;
	padding-top: 0px;
}
.footer-options ul{
	clear: both;
	padding: 0px;
	margin: 0px;
}
.footer-options ul li{
	float:left;
	list-style: none;
	padding: 5px;
	font-size: 12px;
}
.footer-options ul li a{
	text-decoration: none;
	color: #000;
}
.copyrights{
	margin-top: 25px;
}


.red{
    color:red;
    }
.form-area
{
    background-color:none;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	
	}
h3 
{
   
}