@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "About";
}
<div class="row" style="margin-top:30px;">
    <div class="col-sm-5"></div>
    <div class="col-sm-2">
        <h3 style="font-family:mid;font-weight:bold;margin-left:15px;font-size:30px;"><b>About us</b></h3>
    </div>
    <div class="col-sm-5"></div>


</div>
<div class="row" style="height:500px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-4" style="margin-top:-110px;">
        <div class="login-main" style="padding-top:-100px;padding-left:40px;">
            <p class=" side" style="font-family:'Book Antiqua';">
                <i>KuchBhiBaicho.com is a free local classifieds site. Sell anything from used cars to mobiles, furniture, laptops, clothing and more. Submit ads for free and creating an account. If you want to buy something - here you will find interesting items, cheaper than in the store. Start buying and selling in the most easy way on KuchBhiBaicho.com</i>
            </p>
            </p>
        </div>

    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-4" style="margin-top: -110px;padding-left:80px;">
        <div class="login-main" style="margin-top:0;">
            <p class="side" style="font-family:'Book Antiqua';"><i>Post ads for free.Buy and<br> sell, cheaper, faster, with limits and<br>everything you want.Post your 100% free ad with images.Post your item's Classified <br> Ads for Cars & Bikes,<br> Mobile Phones, Matrimonial, Real Estate, <br>Computers etc.</i></p>
        </div>
    </div>
   
    <div class="col-sm-2"></div>

</div>

